@import "tailwindcss";

@theme {
  --color-secondary: #44403c;
  --color-tertiary: #37332f;
}

button {
  background-color: var(--color-secondary);
}

button:hover {
  background-color: var(--color-tertiary);
  transition: background-color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}
